<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="footer-col col-md-12">
                <br>
                <h4>Get in Touch!</h4>
                <!-- Twitter -->
                <a href="https://twitter.com/mrbrettromero" data-toggle="tooltip" title="Twitter" target="_blank" class="share-btn twitter">
                    <i class="fa fa-twitter"></i>
                </a>

                <!-- Github -->
                <a href="https://github.com/vladimiriii/jsonify-it" data-toggle="tooltip" title="GitHub" target="_blank" class="share-btn github">
                    <i class="fa fa-github"></i>
                </a>

                <!-- Page -->
                <a href="https://brettromero.com" data-toggle="tooltip" title="brettromero.com" class="share-btn home">
                    <i class="fa fa-home"></i>
                </a>
                <br>
                <br>
                <p>See something that could be improved? <a href="https://github.com/vladimiriii/jsonify-it/issues" target="_blank">Create an issue!</a></p>
            </div>
        </div>
    </div>
</footer>
