.spinner {
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: rgba(248, 248, 248, 0.7);
    z-index: 1234;
    overflow: auto;
    width: 100vw;
    height: 100vh;
}

.double-bounce1, .double-bounce2 {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-top: 40vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
