/* Navbar */
.navbar-brand {
	font-size: 36px;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
}

/* Body */
#preview {
	font-family: "consolas", "helvetica";
	font-size: 8pt;
}

#finalOutput {
	font-family: "consolas", "helvetica";
	font-size: 8pt;
}

#updatePreview {
	margin-top: 12px;
}

#convertData {
	margin-top: 80px;
	margin-bottom: 80px;
}


/* Footer */
.page-footer {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    background-color: #f8f5f0;
	margin-top: 50px;
}

.share-btn {
    display: inline-block;
    border-radius: 50px;
    color: #000000;
    border: 2px solid #000000;
    padding: 0.5em;
    width: 2.8em;
    opacity: 0.9;
    outline: none;
    text-align: center;
}

.share-btn.github:hover {
    color: #FFFFFF;
    background-color: #000;
    border: 2px solid #000;
}

.share-btn.twitter:hover {
    color: #FFFFFF;
    background-color: #00aced;
    border: 2px solid #00aced;
}

.share-btn.home:hover {
    color: #FFFFFF;
    background-color: #FFA62D;
    border: 2px solid #FFA62D;
}

p.document-links > a {
    margin-bottom: 20px;
    color: #000000;
}

p.document-links > a:hover {
    margin-bottom: 20px;
    color: #6b9430;
}


/* Responsivity */
@media screen and (max-width: 992px) {
    .navbar-brand {
    	font-size: 26px;
    }
}

@media screen and (max-width: 500px) {
    .navbar-brand {
    	font-size: 20px;
    }
}
