<!-- Jquery -->
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>

<!-- Bootstrap Framework -->
<script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script defer type="text/javascript" src="{{ url_for('static',filename='bootstrap/js/dropdowns-enhancement.js') }}"></script>
<script defer type="text/javascript" src="{{ url_for('static',filename='sortable/Sortable.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/dropdowns-enhancement.css') }}">

<!-- Font-awesome for sharing buttons -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Base Styling -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom/styling.css') }}?v=1.1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom/lists.css') }}?v=1.1">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom/spinner.css') }}?v=1.1">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-60963697-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-60963697-5');
</script>
