<!-- Encoding -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="JSONify It – The CSV to JSON converter that lets you created nested JSON from CSV and other delimited formats with a whole suite of options and an easy to understand interface.">

<!-- Facebook Open Graph tags -->
<meta property="og:title" content="Jsonify It - CSV to JSON Converter" />
<meta property="og:site_name" content="Jsonify It - CSV to JSON Converter"/>
<meta property="og:image" content="" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://jsonifyit.com/" />
<meta property="og:description" content="JSONify It – The CSV to JSON converter that lets you created nested JSON from CSV and other delimited formats with a whole suite of options and an easy to understand interface."/>

<!-- Twitter card tags -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@mrbrettromero">
<meta name="twitter:description" content="JSONify It – The CSV to JSON converter that lets you created nested JSON from CSV and other delimited formats with a whole suite of options and an easy to understand interface.">
<meta name="twitter:creator" content="@mrbrettromero">
<meta name="twitter:image" content="">
