{% extends "csv-to-json-layout.html" %}
{% block body %}
<div class="row">
	<div class="col-md-12 text-center">
		<h1>CSV to JSON converter with Nesting</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2 text-justified">
      <p>JSONify It is a CSV to JSON converter designed to help you easily convert tabular data from spreadsheets, CSV files or any delimited file into JSON. What makes JSONify It stand out from other CSV to JSON converters available online is its ability to generate nested JSON. This is particularly useful for those looking to create multilevel visualizations such as <a href="https://bost.ocks.org/mike/treemap/" target="_blank">zoomable/drilldown treemaps</a> and <a href="https://carrotsearch.com/foamtree/" target="_blank">Foamtrees</a>, both of which require a specifically nested format of JSON to function.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3>Step 1. Enter Data</h3>
	    <textarea class="form-control" id="CSVinput" rows="16" placeholder="Paste data here"></textarea>
	</div>
</div> <!-- CSV Input Row -->
<br>
<div class="row">
	<div class="col-md-12 text-center">
		<button type="button" id="process-data" class="btn btn-primary btn-lg">Preprocess <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
	</div>
</div> <!-- Preprocess button row -->
<br>
<div class="row" id="outputOptions">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<h3>Input and Output Options</h3>
			</div>
	    </div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									Step 2. Refine Input Options (optional)
								</a>
							</h3>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<!-- Input Options -->
								<div class="row">
									<div class="col-md-4">
	                                    <div class="row">
	    									<div class="col-md-6">
	    										<p>Separator:</p>
	    									</div>
	    									<div class="col-md-6">
	    										<div class="form-group">
	    											<input type="text" class="form-control text-center" id="csvSep">
	    										</div>
	    									</div>
	                                    </div>
									</div>
									<div class="col-md-5">
	                                    <div class="row">
	    									<div class="col-md-4 text-left">
	    										<p>Header:</p>
	    									</div>
	    									<div class="col-md-8">
	    										<div class="radio" id="headerSel">
	    											<label class="radio-inline"><input type="radio" name="header" value="true" checked>Yes</label>
	    										  	<label class="radio-inline"><input type="radio" name="header" value="false">No</label>
	    										</div>
	    									</div>
	                                    </div>
									</div>
									<div class="col-md-3 text-right">
										<button type="button" class="btn btn-primary" id="reprocessData">Reprocess
											<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Output Options -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Step 3. Set Output Options</a>
							</h3>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<h4>Basic Output Options</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6 text-left">
												<p>Base Structure:</p>
											</div>
											<div class="col-md-6 text-right">
												<div class="form-inline">
													<div class="button-group">
														<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Records
															<span class="caret"></span>
														</button>
														<ul class="dropdown-menu" id="baseStr">
															<li>
																<input type="radio" id="ex1_1" name="ex1" value="records" checked>
																<label for="ex1_1">Records </label>
															</li>
															<li>
																<input type="radio" id="ex1_2" name="ex1" value="split">
																<label for="ex1_2">Split </label>
															</li>
															<li>
																<input type="radio" id="ex1_3" name="ex1" value="index">
																<label for="ex1_3">Index </label>
															</li>
															<li>
																<input type="radio" id="ex1_4" name="ex1" value="dict">
																<label for="ex1_4">Dict </label>
															</li>
															<li>
																<input type="radio" id="ex1_5" name="ex1" value="list">
																<label for="ex1_5">List </label>
															</li>
															<li>
																<input type="radio" id="ex1_6" name="ex1" value="series">
																<label for="ex1_6">Series </label>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
	                	<div class="row">
	    								<div class="col-md-6">
	    									<p>Index:</p>
	    								</div>
    									<div class="col-md-6">
    										<div class="form-inline">
    											<div class="button-group">
    												<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" id="indexBtn">None <span class="caret"></span></button>
    												<ul class="dropdown-menu" id="indexCol">
    												</ul>
    											</div>
    										</div>
    									</div>
	                  </div>
									</div>
								</div>
	             	<!-- NESTING OPTIONS -->
								<div class="row">
									<div class="col-md-12">
										<h4>Nesting Options</h4>
									</div>
								</div>
	              <div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6 text-left">
												<p>Name Key:</p>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" id="name-key">
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6 text-left">
												<p>Children Key:</p>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" id="child-key">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-12">
												<div style="margin-top: -8px; margin-left: 10px" class="block__list block__list_words">
													<ul id="editable">
													</ul>
													<button class="btn btn-default" id="addUser" data-toggle="modal" data-target="#addLevelModal">Add Level</button>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6 text-left">
												<p>Column to Sum:</p>
											</div>
											<div class="col-md-6">
												<div class="form-inline">
													<div class="button-group">
														<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" id="sumFieldBtn">None <span class="caret"></span></button>
														<ul class="dropdown-menu" id="sumField">
														</ul>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-6 text-left">
												<p>Field Name:</p>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" id="sumFieldName">
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 text-left">
												<p>Average Field:</p>
											</div>
											<div class="col-md-6">
												<div class="form-inline">
													<div class="button-group">
														<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" id="avgFieldBtn">None <span class="caret"></span></button>
														<ul class="dropdown-menu" id="avgField"></ul>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 text-left">
												<p>Field Name:</p>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<input type="text" class="form-control" id="avgFieldName">
												</div>
											</div>
										</div>
									</div>
								</div>
	              <!-- WRAPPER OPTIONS -->
								<div class="row">
									<div class="col-md-12">
										<h4>Wrapper Options</h4>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-6">
												<p>Include wrapper?</p>
											</div>
											<div class="col-md-6">
												<div class="radio" id="wrapperSel">
													<label class="radio-inline"><input type="radio" name="wrapper" value="true">Yes</label>
												  	<label class="radio-inline"><input type="radio" name="wrapper" value="false" checked>No</label>
												</div>
											</div>
										</div>
									</div>
                  <div class="col-md-6">
                      <div class="row">
                          <div class="col-md-6 text-left">
                              <p>Name Value:</p>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <input type="text" class="form-control" id="root-node">
                              </div>
                          </div>
                      </div>
                  </div>
								</div>
	              <!-- UPDATE BUTTON -->
								<div class="row">
									<div class="col-md-12 text-right">
										<button type="button" class="btn btn-success" id="updatePreview">Update Preview
											<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Step 4. Get final Output</a>
							</h3>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<!-- Convert Button -->
								<div class="row text-center">
									<button type="button" id="convertData" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#outputModal">JSONify It!
										<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Preview Panel -->
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-12">
				<h3>JSON Preview</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
		  		<textarea id="preview" class="form-control" rows="39" readonly></textarea>
			</div>
		</div>
	</div>
</div> <!-- Options/Preview row -->
<br>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h2>What is JSON?</h2>
		<p>JSON, or JavaScript Object Notation, is a format of data storage that utilizes key-value (or attribute-value) pairs to represent data. This format of data representation is used primarily in programming, and is a default datatype in most programming languages (although they can be called different things - i.e. a Python dictionary). The strength of JSON is its flexibility, allowing for a given dataset to be stored in a variety of different ways, ensuring that the minimum reworking of the data is required given an expected use case for that data.</p>

		<h2>When would I use this?</h2>
		<p>Oftentimes in programming, data in a tabular source such as an Excel spreadsheet, Google Sheet, CSV file, or some other form of delimited file (e.g. TSV) will be required to generate some output. In many cases the data will be a small static dataset that is unlikely to change regularly. In this case, it is often far simpler to do a one time conversion, using a tool like JSONify It, than to create a script to parse the data from a CSV or other static file.</p>

		<p>For those who have some experience in creating visualizations, particularly online visualizations using JavaScript and libraries such as <a href="https://d3js.org/">D3.js</a> or <a href="https://www.highcharts.com/">Highcharts</a>, one thing that you will often come across is the need to convert your data into JSON. Typically this need will arise because the data you receive or collect will be in the more human-friendly format of a spreadsheet.</p>

		<h2>Why this converter?</h2>
		<p>Currently, there are a number of CSV to JSON converters lying around on the internet for people to use, and most of them work more or less as expected. The key feature that JSONify It has - aside from a much friendlier UI than most other converters - is the unique ability to generate nested JSON files. This is particularly useful for data with categorical features that can be used to partition the data. With a nested JSON, subsets of the data can easily be selected without having to loop through the entire object. On the visualization side, this type of nested JSON is typically very useful for visualizations where the user can drill down into subsegments, such as zoomable <a href="https://en.wikipedia.org/wiki/Treemapping">Treemaps</a> and <a href="https://en.wikipedia.org/wiki/Voronoi_diagram">Voronoi diagrams.</a></p>

		<p> The other big plus for JSONify It is your privacy and data security. We do NOT store, monitor or track any of the data that passes through this website. In fact, this app does not even have a database in which it could store anything. Your data is yours and that is the way it will stay. How can we prove it? This project is completely open source so you can check out the <a href="https://github.com/vladimiriii/jsonify-it">repository on GitHub</a> for yourself. You should also feel free to raise any issues you encounter at the same location.</p>
	</div>
</div>
{% endblock %}
