{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1>Welcome to the Open Data Kosovo CSV to JSON Converter</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-1">
		</div>
		<div class="col-lg-10 text-justified">
			<p>There are two ways of using this application. The first is to use the interface provided below in order to do one-off translations of CSV to JSON. The second way is to fork the repo for this application, set up your server and use it to feed JSON directly into other applications that need dynamically generated JSON.</p>
		</div>
		<div class="col-lg-1">
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2">
		</div>
		<div class="col-lg-8">
			<form>
			  <div class="form-horizontal">
			      <div class="form-group">
					  <h3>Step 1. Enter CSV Data</h3>
					  <textarea class="form-control" id="CSVinput" rows="16" placeholder="Paste CSV data here"></textarea>
			      </div>
			  </div>
			</form>
		</div>
		<div class="col-lg-2">
		</div>
	</div> <!-- CSV Input Row -->
	<div class="row">
			<div class="col-lg-12 text-center">
				<button type="button" id="process-data" class="btn btn-primary btn-lg">Preprocess <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>	
			</div>
	</div> <!-- Preprocess button row -->
	<div class="row" id="outputOptions">
		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-12">
					<h3>Step 2. Set Output Options</h3>
				</div>
			</div>
			<!-- Input Options -->
			<div class="row">
				<div class="col-lg-12">
					<h4>Input Options</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-9">
							<p>Separator:</p>
						</div>
						<div class="col-lg-3">
							<div class="form-group">
						  	  <input type="text" class="form-control text-center" id="csvSep">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-6 text-left">
							<p>Index Column:</p>
						</div>
						<div class="col-lg-6">
							<div class="form-inline">
								<div class="button-group">
									<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">None <span class="caret"></span></button>
									<ul class="dropdown-menu" id="indexCol">
									</ul>	
							  	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Basic Output Options -->
			<div class="row">
				<div class="col-lg-12">
					<h4>Basic Output Options</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-6 text-left">
							<p>Base Structure:</p>
						</div>
						<div class="col-lg-6 text-right">
							<div class="form-inline">
								<div class="button-group">
									<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Records <span class="caret"></span></button>
									<ul class="dropdown-menu" id="baseStr">
										<li>
											<input type="radio" id="ex1_1" name="ex1" value="records" checked>
											<label for="ex1_1">Records </label>
										</li>
										<li>
											<input type="radio" id="ex1_2" name="ex1" value="split">
											<label for="ex1_2">Split </label>
										</li>
										<li>
											<input type="radio" id="ex1_3" name="ex1" value="index">
											<label for="ex1_3">Index </label>
										</li>
										<li>
											<input type="radio" id="ex1_4" name="ex1" value="dict">
											<label for="ex1_4">Dict </label>
										</li>
										<li>
											<input type="radio" id="ex1_5" name="ex1" value="list">
											<label for="ex1_5">List </label>
										</li>
										<li>
											<input type="radio" id="ex1_6" name="ex1" value="series">
											<label for="ex1_6">Series </label>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- Buttons first row -->
			<div class="row">
				<div class="col-lg-12">
					<h4>Wrapper Options</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<p>Include wrapper?</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-6 text-left">
							<p>Root Node:</p>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
						  	  <input type="text" class="form-control" id="root-node">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-6 text-left">
							<p>Nest Key:</p>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
						  		<input type="text" class="form-control" id="nest-key">
							</div>
						</div>
					</div>
				</div>	
			</div>  <!-- Buttons second row -->
			<div class="row">
				<div class="col-lg-12">
					<h4>Nesting Options</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-6 text-left">
							<p>Group By:</p>
						</div>
						<div class="col-lg-6">
							<div class="form-inline">
								<div class="button-group">
									<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">None <span class="caret"></span></button>
									<ul class="dropdown-menu" id="groupBy">
									</ul>	
							  	</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-6 text-left">
							<p>Column to Sum:</p>
						</div>
						<div class="col-lg-6">
							<div class="form-inline">
								<div class="button-group">
									<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">None <span class="caret"></span></button>
									<ul class="dropdown-menu" id="sumField">
									</ul>	
							  	</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 text-left">
							<p>Field Name:</p>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
							  <input type="text" class="form-control" id="sumFieldName">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 text-left">
							<p>Average Field:</p>
						</div>
						<div class="col-lg-6">
							<div class="form-inline">
								<div class="button-group">
									<button data-toggle="dropdown" class="btn btn-default dropdown-toggle">None <span class="caret"></span></button>
									<ul class="dropdown-menu" id="avgField"></ul>	
						  		</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 text-left">
							<p>Field Name:</p>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
							  <input type="text" class="form-control" id="avgFieldName">
							</div>
						</div>
					</div>
				</div>
			</div>  <!-- Nesting Options -->
			<div class="row">
				<div class="col-lg-12 text-right">
					<button type="button" class="btn btn-success" id="updatePreview">Update Preview <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
				</div>
			</div>
		</div>  <!-- Buttons column -->
		
		<!-- Preview Panel -->
		<div class="col-lg-6">
			<div class="row">
				<div class="col-lg-6">
					<h3>JSON Preview</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-1">
				</div>
				<div class="col-lg-10">
					<form>
						<div class="form-horizontal">
				    		<div class="form-group">
						  		<textarea id="preview" class="form-control" rows="30" readonly></textarea>
				      		</div>
				  		</div>
					</form>
				</div>
				<div class="col-lg-1">
				</div>
			</div>
		</div> <!-- Preview Column -->
	</div> <!-- Options/Preview row -->
	
	<!-- Convert Button -->
	<div class="row text-center">
		<h3>Step 3. Get final Output</h3>
	</div>	
	<div class="row text-center">
		<button type="button" id="convertData" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Convert! <span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>	
	</div>
	
	<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">
	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">JSON Output</h4>
	      </div>
		  <div class="modal-body">
			  <div class="row">
				  <div class="col-lg-1">
				  </div>
				  <div class="col-lg-10">
					  <form>
						  <div class="form-horizontal">
							  <div class="form-group">
								  <textarea id=finalOutput class="form-control" rows="25" placeholder="JSON will display here" readonly></textarea>
							  </div>
						  </div>
					  </form>
				  </div>
				  <div class="col-lg-1">
				  </div>
			  </div>
		  </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
	
</div>
{% endblock %}
