{% extends "json-to-csv-layout.html" %}
{% block body %}
	<div class="row">
		<div class="col-md-12 text-center">
				<h1>JSON to CSV converter</h1>
			</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-justified">
    <p>Easily convert your JSON data into CSVs with this flexible converter.</p>
		</div>
	</div>
	<div class="row"> <!-- JSON Input Row -->
		<div class="col-md-8 col-md-offset-2">
			  <h3>JSON Input</h3>
			  <textarea class="form-control" id="JSONinput" rows="16" placeholder="Paste data here"></textarea>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-2">
					<p>Delimiting char(s):</p>
				</div>
				<div class="col-md-1">
					<div class="form-group">
						<input type="text" class="form-control text-center" id="csvSep" value=",">
					</div>
				</div>
				<div class="col-md-2 col-md-offset-2">
					<p>Wrap values in quotes?</p>
				</div>
				<div class="col-md-5">
					<div class="radio" id="quote-select">
						<label class="radio-inline"><input type="radio" name="quote" value="minimal" checked>Only where needed</label>
						<label class="radio-inline"><input type="radio" name="quote" value="non_numeric">All non-numeric values</label>
						<label class="radio-inline"><input type="radio" name="quote" value="all">All values</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-12 text-center">
			<button type="button" id="process-data" class="btn btn-primary btn-lg">Convert Data!
				<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
			</button>
		</div>
	</div>
	<br>
	<div class="row" id="output">
		<div class="col-md-8 col-md-offset-2">
			<h3>Output</h3>
		</div>
    </div>
	<div class="row">
		<textarea id="csv-output" class="col-md-8 col-md-offset-2">
		</textarea>
	</div>
{% endblock %}
