<!DOCTYPE html>
<html lang="en">
<head>

	<title>JSONify It – JSON to CSV</title>
	{% include 'includes/page-meta.html' %}
	{% include 'includes/base-scripts.html' %}

	<!-- Custom Scripts -->
	<script defer type="text/javascript" src="{{ url_for('static',filename='js/json-to-csv-page-func.js') }}?v=1.1"></script>

</head>

<body id="page-top" class="index">
    <div class="container-fluid">
    	{% include 'modules/navbar.html' %}
	    {% block body %}
	    {% endblock %}
        {% include 'modules/footer.html' %}
    </div>
    <!-- Add Level Modal -->
	<div id="addLevelModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-sm">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Add Level</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="form-inline">
								<div class="button-group">
									<button data-toggle="dropdown" class="btn btn-default dropdown-toggle"  id="levelModalBtn">None <span class="caret"></span></button>
									<ul class="dropdown-menu" id="nestCol">
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-md-6 text-left">
						<button type="button" class="btn btn-success" id="addLevel" data-dismiss="modal">Add Level</button>
					</div>
					<div class="col-md-6 text-right">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Output Modal -->
	<div id="outputModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">JSON Output</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<form>
								<div class="form-horizontal">
									<div class="form-group">
										<textarea id=finalOutput class="form-control" rows="25" placeholder="JSON will display here" readonly></textarea>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-1">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="col-md-6 text-left">
						<a id=downloadButton href=""><button type="button" class="btn btn-success">Download JSON</button></a>
					</div>
					<div class="col-md-6 text-right">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
